body {
  font-family: sans-serif;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.nav {
  height: 10rem;
  width: 80vw;
  margin: auto;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  position: relative;
  opacity: 0.8;
  border-bottom: 0.3rem solid black;
  animation-name: line;
  animation-duration: 3s;
  animation-fill-mode: backwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes line {
  from {
    width: 0%;
  }
  to {
    width: 85%;
  }
}
.nav__img {
  height: 7rem;
  width: auto;
}
.nav__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
}
.nav__listItem {
  width: 15rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav__links {
  color: black;
  font-size: 2.5rem;
  text-decoration: none;
}
.nav__links:hover {
  transition: 0.2s;
  background: -webkit-linear-gradient(#b20600, #ff5f00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.banner__img {
  width: 100%;
  height: 100%;
  background: url("../img/banner.jpg");
  background-size: cover;
}

.aanbevolen {
  width: 50%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10rem;
}
.aanbevolen__titels {
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-size: 2.5rem;
  text-align: center;
}
.aanbevolen__list {
  list-style: none;
  display: flex;
  gap: 3rem;
  height: 80%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: 0.15rem solid rgb(43, 43, 43);
}
.aanbevolen__listItem {
  width: 80%;
  height: 30rem;
  box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}
.aanbevolen__header {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.aanbevolen__h3 {
  font-size: 3rem;
  padding-right: 3rem;
}
.aanbevolen__label {
  padding: 1rem 0 1rem 0;
  min-width: 8rem;
  height: 3rem;
  border: 0.1rem solid black;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aanbevolen__datum {
  font-size: 2rem;
  font-weight: 300;
}
.aanbevolen__text {
  font-size: 1.8rem;
  font-weight: 300;
}

.artikelen {
  min-height: 100vh;
  width: 100vw;
  position: absolute;
  top: 100%;
}
.artikelen__container {
  display: flex;
}

.recente {
  width: 50%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10rem;
}
.recente__titels {
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-size: 2.5rem;
  text-align: center;
}
.recente__list {
  list-style: none;
  display: flex;
  gap: 3rem;
  height: 80%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-left: 0.15rem solid rgb(43, 43, 43);
}
.recente__listItem {
  width: 80%;
  height: 30rem;
  box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}
.recente__header {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.recente__h3 {
  padding-right: 3rem;
  font-size: 3rem;
}
.recente__label {
  width: 8rem;
  height: 3rem;
  border: 0.1rem solid black;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.recente__datum {
  font-size: 2rem;
  font-weight: 300;
}
.recente__text {
  font-size: 1.8rem;
  font-weight: 300;
}

.footer {
  height: 20vh;
  width: 80vw;
  margin: auto;
  border-top: 0.3rem solid black;
  display: flex;
}

/*# sourceMappingURL=style.css.map */
